* {
  margin: 0;
  padding: 0;
  scrollbar-width: thin;
  scrollbar-color: black transparent;
  scrollbar-radius: 20px;
  image-rendering: -webkit-optimize-contrast; /*fix blurry downscaled images on chorme*/
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 20px;
}

.main {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row;
  flex-flow: row;
  height: 100%;
  width: 100%;
}

.color1,
.color2,
.color3,
.color4,
.color5,
.color6 {
  height: 100%;
  width: 16.7%;
}

.color1 {
  background-color: #d2c3d8;
  -webkit-transition: .2s ease;
  -o-transition: .2s ease;
  transition: .2s ease;
  opacity: 0;
  -webkit-animation: fadein 1s ease 0.1s forwards;
  animation: fadein 1s ease 0.1s forwards;
}

.color1:hover {
  background-color: #bdd0c4;
}

.color2 {
  background-color: #f8cbd1;
  -webkit-transition: .2s ease;
  -o-transition: .2s ease;
  transition: .2s ease;
  opacity: 0;
  -webkit-animation: fadein 1s ease 0.2s forwards;
  animation: fadein 1s ease 0.2s forwards;
}

.color2:hover {
  background-color: #9ab7d3;
}

.color3 {
  background-color: #f7e5d7;
  -webkit-transition: .2s ease;
  -o-transition: .2s ease;
  transition: .2s ease;
  opacity: 0;
  -webkit-animation: fadein 1s ease 0.3s forwards;
  animation: fadein 1s ease 0.3s forwards;
}

.color3:hover {
  background-color: #f5d2d3;
}

.color4 {
  background-color: #f6f2ec;
  -webkit-transition: .2s ease;
  -o-transition: .2s ease;
  transition: .2s ease;
  opacity: 0;
  -webkit-animation: fadein 1s ease 0.4s forwards;
  animation: fadein 1s ease 0.4s forwards;
}

.color4:hover {
  background-color: #ffb7b2;
}

.color5 {
  background-color: #c4bfdb;
  -webkit-transition: .2s ease;
  -o-transition: .2s ease;
  transition: .2s ease;
  opacity: 0;
  -webkit-animation: fadein 1s ease 0.5s forwards;
  animation: fadein 1s ease 0.5s forwards;
}

.color5:hover {
  background-color: #f7e1d3;
}

.color6 {
  background-color: #f3dadb;
  -webkit-transition: .2s ease;
  -o-transition: .2s ease;
  transition: .2s ease;
  opacity: 0;
  -webkit-animation: fadein 1s ease 0.6s forwards;
  animation: fadein 1s ease 0.6s forwards;
}

.color6:hover {
  background-color: #dfccf1;
}

.container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 66.8vw;
  height: 98vh;
  overflow-y: auto;
  left: 0;
  right: 0;
  margin: 1vh auto;
  opacity: 0;
  -webkit-animation: fadein 1s ease-out 1s forwards;
  animation: fadein 1s ease-out 1s forwards;
  scroll-snap-type: y proximity; /*element at the top when scrolling*/
  -ms-scroll-snap-type: y proximity;
}

img {
  margin-bottom: 30px;
  scroll-snap-align: start; /*element at the top when scrolling*/
}

.long {
  width: 100%;
  height: auto;
  scroll-snap-align: start;
}

.square {
  width: auto;
  min-height: 100%; /*fix chrome scaling*/
  height: 100%;
  scroll-snap-align: start;
}


video {
  width: auto;
  min-height: 100%;
  margin-bottom: 30px;
  scroll-snap-align: start;
}

.backhome {
  position: absolute;
  right: 0;
  width: 1.5vw;
  padding: 5px 10px;
  height: auto;
  text-decoration: none;
  color: black;
  opacity: 0;
  -webkit-animation: fadein 1s ease-out 1s forwards;
  animation: fadein 1s ease-out 1s forwards;
}

.header {
  position: absolute;
  margin: 15vh 5px;
  width: 16.7%;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5vw;
  opacity: 0;
  -webkit-animation: fadein 1s ease-out 1s forwards;
  animation: fadein 1s ease-out 1s forwards;
  pointer-events: none;
}

@-webkit-keyframes fadein {
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 1024px) {
  .main {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 110%;
    width: 100%;
  }

  .container {
    width: 98%;
    height: auto;
    margin: 0 auto;
    padding: 20vh 0 10vh;
    overflow-y: scroll !important;
    -webkit-overflow-scrolling: touch;
  }

  .backhome {
    position: fixed;
    width: 30px;
  }

  *::-webkit-scrollbar {
    display: none;
  }

  img {
    width: 100%;
    height: auto;
  }

  .square {
    width: 100%;
    height: auto;
  }

  video {
    width: 100%;
    height: auto;
  }

  .header {
    left: 0;
    right: 0;
    margin: 3vh auto;
    width: 66.8vw;
    text-align: center;
    font-size: 15px;
  }
}
