* {
  margin: 0;
  padding: 0;
  scrollbar-width: thin;
  scrollbar-color: black transparent;
  scrollbar-radius: 20px;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 20px;
}

.main {
  position: relative;
  display: flex;
  flex-flow: row;
  height: 100vh;
  width: 100%;
}

.color1,
.color2,
.color3,
.color4,
.color5,
.color6 {
  height: 100%;
  width: 16.7%;
}

.color1 {
  background-color: #d2c3d8;
  transition: .2s ease;
  opacity: 0;
  animation: fadein 1s ease 0.1s forwards;
}

.color1:hover {
  background-color: #bdd0c4;
}

.color2 {
  background-color: #f8cbd1;
  transition: .2s ease;
  opacity: 0;
  animation: fadein 1s ease 0.2s forwards;
}

.color2:hover {
  background-color: #9ab7d3;
}

.color3 {
  background-color: #f7e5d7;
  transition: .2s ease;
  opacity: 0;
  animation: fadein 1s ease 0.3s forwards;
}

.color3:hover {
  background-color: #f5d2d3;
}

.color4 {
  background-color: #f6f2ec;
  transition: .2s ease;
  opacity: 0;
  animation: fadein 1s ease 0.4s forwards;
}

.color4:hover {
  background-color: #ffb7b2;
}

.color5 {
  background-color: #c4bfdb;
  transition: .2s ease;
  opacity: 0;
  animation: fadein 1s ease 0.5s forwards;
}

.color5:hover {
  background-color: #f7e1d3;
}

.color6 {
  background-color: #f3dadb;
  transition: .2s ease;
  opacity: 0;
  animation: fadein 1s ease 0.6s forwards;
}

.color6:hover {
  background-color: #dfccf1;
}

.container {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 66.8vw;
  height: 98vh;
  overflow-y: auto;
  overflow-x: hidden;
  left: 0;
  right: 0;
  margin: 1vh auto;
  opacity: 0;
  animation: fadein 1s ease-out 1s forwards;
}

img {
  height: auto;
  margin-bottom: 30px;
}

.long {
  width: 100%;
}

.square {
  width: auto;
  height: 100%;
}

.backhome {
  position: absolute;
  width: 40px;
  margin: 5px;
  height: auto;
  text-decoration: none;
  color: black;
  opacity: 0;
  animation: fadein 1s ease-out 1s forwards;
}

.header {
  position: absolute;
  width: 16.7%;
  margin: 15vh 5px;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  opacity: 0;
  animation: fadein 1s ease-out 1s forwards;
}

@keyframes fadein {

  100%{
    opacity: 1;
  }
}

@media screen and (max-width: 1024px) {

    *::-webkit-scrollbar {
   width: 4px;
}

  .container {
    width: 98vw;
    margin: 20vh auto 0;
    height: 80vh;
  }

  img {
    width: 100%;
    height: auto;
  }

  .square {
    width: 100%;
    height: auto;
  }

  .header {
    left: 0;
    right: 0;
    margin: 5vh auto;
    width: 90vw;
    text-align: center;
    font-size: 20px;
  }

  .backhome {
    width: 30px;
    margin: 5px;
  }
}
