<!DOCTYPE html>
<html>

<head>
  <title>InOktober</title>
  <meta charset="utf-8">
  <link rel="apple-touch-icon" sizes="180x180" href="static/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="static/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="static/favicons/favicon-16x16.png">
  <link rel="manifest" href="static/favicons/site.webmanifest">
  <link rel="preconnect" href="https://cdnjs.cloudflare.com">
  <link rel="preconnect" href="https://code.jquery.com">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link type="text/css" rel="stylesheet" href="static/style.css">
</head>

<body>

  <div class="header">
    <p class="name">InOktober
    <div class="line1"></div>
    <div class="line2"></div>
    </p>
    <p class="name2">Digital Studio</p>
    <a href="https://www.instagram.com/hocuspocuf/" target="_blank"><img class="insta" src="https://ik.imagekit.io/7ol7k87qcca/InOktober/insta_gH1XFIJ2Uw3TZ.png"></img></a>
    <div class="bar">
      <div class="about">About</div>
      <div class="contact">Contact
        <div class="contactform">
          <div class="mail">info.inoktober@gmail.com</div>
          <form id="form1">
            <div class="formgroup">
              Name <input type="text" id="name" name="name" required>
            </div>

            <div class="formgroup">
              Email <input type="email" id="email" name="email" required>
            </div>

            <div class="formgroup">
              Message <textarea name="message" id="message" required></textarea>
            </div>

            <button class="button" type="submit">Submit</button>
            <div class="thankyou" id="thankyou" style="display: none">Thanks! I will get in touch with you shortly</div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="main">
    <div class="color1"></div>
    <div class="color2"></div>
    <div class="color3"></div>
    <div class="color4"></div>
    <div class="color5"></div>
    <div class="color6"></div>
    <div class="workscont">
      <div class="first">
        <a href="Collabs" class="work1">
          <p class="collabs">COLLABS
          </p>
        </a>
      </div>
      <div class="second">
        <a href="Interiors" class="work2">
          <p class="interiors">INTERIORS
          </p>
        </a>
      </div>
      <div class="third">
        <a href="Artwork" class="work3">
          <p class="artwork">ARTWORK
          </p>
        </a>
      </div>
    </div>
    <div class="abouttxt">
        <img class="imgabout" src="https://ik.imagekit.io/7ol7k87qcca/InOktober/WhatsApp_Image_2020-12-14_at_21.38.32_IegjGHEqMSNb.jpeg">
      <p>"InOktober is a multidisciplinary studio founded by Silvia Falcone, an italian J.Architect based in Amsterdam, NL. We are specialized in rendering, 3D art, art direction and animation. We have experience in helping the Interior designer to represent the project in a three-dimensional way. We'll help you make your ideas look like artworks."</p>
    </div>
  </div>

  <!--device-->
  <img href="#txt" class="down1" src="https://ik.imagekit.io/7ol7k87qcca/InOktober/down_NxCSMI4E-CQ5M.png"></img>


  <div class="abouttxtdevice" id="txt">
    <img class="imgdevice" src="https://ik.imagekit.io/7ol7k87qcca/InOktober/WhatsApp_Image_2020-12-14_at_21.38.32_IegjGHEqMSNb.jpeg"></img>
    <p>"InOktober is a multidisciplinary studio founded by Silvia Falcone, an italian J.Architect based in Amsterdam, NL. We are specialized in rendering, 3D art, art direction and animation. We have experience in helping the Interior designer to represent the project in a three-dimensional way. We'll help you make your ideas look like artworks."
    </p>
  </div>

  <img href="#form" class="down2" src="https://ik.imagekit.io/7ol7k87qcca/InOktober/down_NxCSMI4E-CQ5M.png"></img>

  <div class="contactformdevice">
    <div class="maildevice">info.inoktober@gmail.com</div>
    <form id="form2">
      <div class="formgroupdevice">
        Name <input type="text" id="name2" name="name" required>
      </div>

      <div class="formgroupdevice">
        Email <input type="email" id="email2" name="email" required>
      </div>

      <div class="formgroupdevice">
        Message <textarea name="message" id="message2" required></textarea>
      </div>

      <button class="buttondevice" id="buttondevice" style="display: block" type="submit">Submit</button>
      <div class="thankyoudevice" id="thankyoudevice" style="display: none">Thanks! I will get in touch with you shortly</div>
    </form>
  </div>





  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js" integrity="sha512-DkPsH9LzNzZaZjCszwKrooKwgjArJDiEjA5tTgr3YX4E6TYv93ICS8T41yFHJnnSmGpnf0Mvb5NhScYbwvhn2w==" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r122/three.min.js" integrity="sha512-bzjaf85dHTL4H0BvkAJ/Jbvxqf1rDj+jVpCNe3oxQj/RXSnkx1HnKhqIcmMWghxEAbXsYgddrc38saWpltlkug==" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.5.0.js"></script>

  <script src="static/hover.umd.js"></script>
  <script src="static/hover.js"></script>
  <script src="static/app.js"></script>


</body>

</html>
